<h1>Welcome</h1>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<% if logged_in? %>

    <h1>Hey <%= current_user.name %></h1>

    <% if Event.find_by(creator_id: current_user.id) != nil %>

        <h3>Created Events</h3>

        <% Event.where(creator_id: current_user.id).each do |event| %>

            <p> <%= link_to event.description, event_path(event) %> </p>

        <% end %>
    
    <% end %>

    <% if EventAttendance.find_by(attendee_id: current_user.id) != nil %>

        <% if Event.future.where('attendee_id == ?', current_user.id) %>

            <h3>Upcoming Events</h3>

        <% end %>

        <% Event.future.each do |event| %>

            <% EventAttendance.find_each do |attendee| %>

                <% if attendee.attendee_id == current_user.id && event.creator_id == attendee.attended_event_id %>

                    <%= event.description %>
                
                <% end %>

            <% end %>

        <% end %>

        <% if Event.past.where('attendee_id == ?', current_user.id) %>

            <h3>Previously Attended Events</h3>

        <% end %>
            
        <% Event.past.each do |event| %>

            <% EventAttendance.find_each do |attendee| %>

                <% if attendee.attendee_id == current_user.id && event.creator_id == attendee.attended_event_id %>

                    <%= event.description %>
                
                <% end %>

            <% end %>

        <% end %>

    <% end %>

    <%= link_to 'Create new event', new_event_path %></br>

    <%= link_to 'All current events', events_path %>

    <%= button_to 'Logout', '/logout', method: :delete %>

<% else %>

    <%= button_to 'Login', '/login', method: :get %>

    <%= button_to "Sign Up", '/users/new', method: :get %>

<% end %>