<h1>Welcome</h1>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<% if logged_in? %>

    <h1>Hey <%= current_user.name %></h1>

    <%= button_to 'Logout', '/logout', method: :delete %>

<% else %>

    <%= button_to 'Login', '/login', method: :get %>

    <%= button_to "Sign Up", '/users/new', method: :get %>

<% end %>