<h1>Welcome</h1>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<% if logged_in? %>

    <h1>Hey <%= current_user.name %></h1>

    <% if Event.where(creator_id: current_user.id) %>

        <h3>Created Events</h3>

        <% Event.where(creator_id: current_user.id).each do |event| %>

            <p> <%= event %> </p>

        <% end %>
    
    <% end %>

    <%= link_to 'Create new event', new_event_path %>

    <%= button_to 'Logout', '/logout', method: :delete %>

<% else %>

    <%= button_to 'Login', '/login', method: :get %>

    <%= button_to "Sign Up", '/users/new', method: :get %>

<% end %>