<h1>Welcome</h1>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<% if logged_in? %>

    <h1>Hey <%= current_user.name %></h1>

    <% if Event.find_by(creator_id: current_user.id) != nil %>

        <h3>Created Events</h3>

        <% Event.where(creator_id: current_user.id).each do |event| %>

            <p> <%= link_to event.description, event_path(event) %> </p>

        <% end %>
    
    <% end %>

    <% if AttendedEvent.find_by(attendee_id: current_user.id) != nil %>

        <% AttendedEvent.find_by(attendee_id: current_user.id).find_each do |attendee| %>
            
            <h3>Upcoming Events</h3>

            <% if Event.find_by(creator_id: attendee.event_creator_id).eventdate < Time.now %>

                <%= Event.find_by(creator_id: attendee.event_creator_id).description %>
            
            <% end %>

            <h3>Previously Attended Events</h3>

            <% if Event.find_by(creator_id: attendee.event_creator_id).eventdate > Time.now %>

                <%= Event.find_by(creator_id: attendee.event_creator_id).description %>

            <% end %>

        <% end %>

    <% end %>

    <%= link_to 'Create new event', new_event_path %></br>

    <%= link_to 'All current events', events_path %>

    <%= button_to 'Logout', '/logout', method: :delete %>

<% else %>

    <%= button_to 'Login', '/login', method: :get %>

    <%= button_to "Sign Up", '/users/new', method: :get %>

<% end %>